@mixin devices($breakpoint) {
  //the name of the mixin is devices
  @if $breakpoint == laptop {
    @media only screen and (min-width: 1000px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media only screen and (max-width: 1000px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }
}
.hero {
  background: url('../Assets/room.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .about {
    width: 100%;
    padding-top: 100px;
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: brightness(60%);
    color: var(--color-1);
    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      h2 {
        font-size: 80px;
        color: var(--color-7);
        text-transform: uppercase;
      }
      .prompt {
        width: 80%;
        font-size: 30px;
        svg {
          font-size: 60px;
          margin: 5px;
          color: var(--color-1);
        }
        svg:hover {
          color: var(--color-7);
        }
        button {
          background-color: transparent;
          border: none;
          color: var(--color-1);
          cursor: pointer;
        }
      }
    }
    .right img {
      width: 60%;
      border-radius: 20%;
    }
  }
}
@include devices(tablet) {
  .hero .right img {
    display: none;
  }
}
